@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* font-family: 'Overpass', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
}

.testing {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

section {
  width: 1440px;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  border-bottom-left-radius: 90px;
  z-index: 200;
  margin-bottom: 160px;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-pattern-intro-desktop.svg);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 50%;
  z-index: -1;
}

header {
  padding: 0 165px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  margin-bottom: 135px;
}

.left-header-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navigation-list div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}

.navigation-list div i {
  font-size: 10px;
}

.navigation-list div p{
color: hsl(240, 2%, 79%);
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
}

.navigation-list div p:hover{
  color: #ffffff;
  text-decoration: underline;
}

.right-header-container {
  display: flex;
  gap: 35px;
}

.right-header-container button {
  background-color: #ffffff;
  padding: 15px 41px;
  color: hsl(356, 100%, 66%);
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

#login {
  background-color: transparent;
  color: #ffffff;
  padding: 0;
}

.hero-writeup {
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: #ffffff;
}

.hero-writeup h1 {
  font-size: 62px;
  font-weight: 300;
  margin-bottom: 25px;
}

.hero-writeup p {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.hero-buttons button {
  background-color: #ffffff;
  padding: 16px 19px;
  color: hsl(356, 100%, 66%);
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 25px;
  font-size: 15px;
}

#learn-more {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#signup:hover, #start-for-free:hover{
  background-color: hsl(355, 100%, 74%);
  color: #ffffff;
}

#learn-more:hover{
  background-color: #ffffff;
  color: hsl(355, 100%, 74%);
}

.second-div {
  width: 100%;
  z-index: 10000;
  margin-bottom: 265px;
}

.second-div-background {
  width: 100%;
  height: 100%;
  background-image: url(images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 61%;
  top: 20%;
  left: 56%;
}

.second-div > h1{
  color: hsl(208, 49%, 24%);
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 120px;
}

.second-div-writeup{
  margin-left: 165px;
  display: flex;
  flex-direction: column;
  gap: 85px;
  width: 530px;
}

.second-div-writeup div{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.second-div-writeup h1{
  color: hsl(208, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: 30px;
}

.second-div-writeup p{
  color: hsl(207, 13%, 34%);
  font-family: "Overpass", sans-serif;
  line-height: 25px;
  font-size: 17px;
}

.third-div-background{
  background-image: url(images/bg-pattern-circles.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 70%;
  left: -15%;
  z-index: 1;
  top: -55%;
}

.third-div{
  position: relative;
  height: 880px;
  overflow: hidden;
}

.third-div-image{
  position: absolute;
  z-index: 10;
  height: 500px;
}

.third-div-writeup{
  margin-left: auto;
  overflow: hidden;
  padding: 110px 0;
  padding-right: 165px;
  background-image: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
}

.third-div-writeup h1{
  color: #ffffff;
  font-family: "Overpass", sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 35px;
  width: 560px;
  margin-left: auto;
  /* padding-right: 165px; */
}

.third-div-writeup p{
  color: hsl(240, 2%, 79%);
  font-family: "Overpass", sans-serif;
  line-height: 25px;
  font-size: 18px;
  width: 560px;
  margin-left: auto;
}

.third-div-image{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 100px;
  top: 46%;
  z-index: 100000;
}

.fourth-div{
  margin-top: -365px;
}

.fourth-div-writeup-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: -19%;
  gap: 125px;
}

.fourth-div-writeup{
  display: flex;
  flex-direction: column;
  gap: 85px;
}

.fourth-div-writeup div{
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-right: 120px;
}

.fourth-div-writeup h1{
  color: hsl(208, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: 30px;
}

.fourth-div-writeup p{
  color: hsl(207, 13%, 34%);
  font-family: "Overpass", sans-serif;
  line-height: 25px;
}

footer{
  background-color: hsl(240, 10%, 16%);
  display: flex;
  color: hsl(240, 2%, 79%);
  padding: 70px 165px;
  gap: 185px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 125px;
}

.footer-list{
  display: flex;
  gap: 210px;
}

.footer-list h1{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
}

.footer-list h1:hover{
  text-decoration: underline;
  color: red;
}

.footer-list ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-list ul li{
  list-style-type: none;
}

.footer-list ul:hover{
  text-decoration: underline;
  color: red;
}

/* FINISHED THE WHOLE THING. TIME FOR MEDIA QUERIES */

.one {
  background-color: hsl(356, 100%, 66%);
}

.two {
  background-color: hsl(355, 100%, 74%);
}

.three {
  background-color: hsl(208, 49%, 24%);
}

.four {
  background-color: hsl(240, 2%, 79%);
}

.five {
  background-color: hsl(207, 13%, 34%);
}

.six {
  background-color: hsl(240, 10%, 16%);
}

.seven {
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
}

.eight {
  background-image: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
}
